KAFKA_USERNAME='admin'
KAFKA_PASSWORD='admin'
KAFKA_INTERNAL='host.docker.internal:29092'
KAFKA_TOPIC_PREPROCESSING='ocr-preprocessing'
KAFKA_TOPIC_DETECTION = 'ocr-detection'
KAFKA_TOPIC_RECOGNITION = 'ocr-recognition'
KAFKA_CONSUMER_GROUP_DETECTION='detection-group'
KAFKA_CONSUMER_GROUP_RECOGNITION='recognition-group'
KAFKA_NOTI_TOPIC='test'
KAFKA_PASSIVE_TOPIC = ''
KAFKA_PASSIVE_RETRIED_TOPIC=''

MONGODB_USERNAME='ocr'
MONGODB_PASSWORD='ocr'
MONGODB_URL='host.docker.internal:27018'
MONGODB_DATABASE='ocr-system'
MONGODB_AUTH_SOURCE='ocr-system'

URL_FILESTORAGE='http://host.docker.internal:8080/api/v1/document'

FORMAT_STR = "%Y-%m-%d %H:%M:%S"
ALGORITHM = "HS512"
SECRET_KEY = "s3cr3t_k3y"

API_PREFIX = "/api/v1"